<html>
    <head>
        <title>Alina's blog Here</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Привет всем в этом чатике</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>shrek is love</p>
        </div>
    </body>
</html>
